<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- build:css /css/main.css -->
    <link rel="stylesheet" href="/css/main.css">
    <!-- endbuild -->
</head>
<body>

<div class="container theme-showcase" role="main">

    {{> body }}

</div>
    {{> footer}}
</body>
</html>
